/* 字体样式 */
* {
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC',
		'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
}

/* 滚动条的样式 */
::-webkit-scrollbar {
	width: 18px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
	border-radius: 8px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(51, 122, 183, 0.4);
	-webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 0, 0, 0.4);
}

body {
	min-width: 500px;
	.
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0
}

.border-1b {
	border: 1px solid #000;
}

.display-none {
	display: none;
}

.display-selected {
	color: #bbb;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/*取消谷歌浏览器表单自动填写样式*/
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
	border: 1px solid #CCC !important;
	height: 39.2px !important;
	line-height: 39.2px !important;
	border-radius: 0px !important;
	border-color: rgb(180, 180, 180) !important;
}

/*4-17*/
.text-center {
	text-align: center;
}

.opacity-0 {
	opacity: 0;
}

/*5-6*/
/*消息提示小红点*/
.chatroom_list .red_notice {
	display: block;
	background-color: #f00;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	position: absolute;
	right: 15px;
	top: 45%;
	z-index: 9999;
}

#chat_select .red_notice {
	display: block;
	background-color: #f00;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	position: absolute;
	right: 5px;
	top: 37%;
	z-index: 9999;
}

.iziToast-wrapper {
	z-index: 9999;
}

/*5-20*/
.user_icon {
	width: 80px;
	height: 80px;
}

.clear-div {
	clear: both;
}